version: '3.8'

services:
  backend:
    build:
      context: .
      dockerfile: backend.Dockerfile
    volumes:
      - static_volume:/app/static
    env_file:
      - .env
    expose:
      - "8000"

  frontend:
    build:
      context: .
      dockerfile: frontend.Dockerfile
    expose:
      - "8080"

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - static_volume:/static
      - ./certs:/etc/nginx/ssl:ro
    depends_on:
      - backend
      - frontend

volumes:
  static_volume:
